body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: #f4ffff;
  color: #2d005f;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #ffffff;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: #5e2ced;
}

.navbar nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar nav ul li a {
  text-decoration: none;
  color: #2d005f;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: #f0ffff;
}

.hero-text h1 {
  font-size: 40px;
  margin: 10px 0;
}

.download-btn {
  background-color: #ff4fd8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.hero-image img {
  width: 300px;
}
.features {
  padding: 80px 50px;
  background: #ffffff;
  text-align: center;
}
.hero {
  position: relative;
  overflow: hidden;
}

.shapes .circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.2;
}

.circle1 {
  width: 200px;
  height: 200px;
  background: #ff4fd8;
  top: 50px;
  right: 50px;
}

.circle2 {
  width: 150px;
  height: 150px;
  background: #5e2ced;
  bottom: 20px;
  left: 40px;
}

.feature-heading h2 {
  font-size: 32px;
  color: #2d005f;
  margin-bottom: 40px;
}

.features-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.feature-box {
  background: #f9f6ff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 20px (0,0,0,0.1);
  width: 250px;
  transition: 0.3s;
}

.feature-box:hover {
  transform: translateY(-10px);
}

.feature-box img {
  width: 50px;
  margin-bottom: 15px;
}
.footer {
  background-color: #f4f4ff;
  text-align: center;
  padding: 30px 0;
  color: #555;
  font-size: 14px;
}
